<h1>Edit Your Profile</h1>

<label>Name</label>
<input [(ngModel)]="edit.name" placeholder="{{customer.name}}">
<label>Phone Number</label>
<input [(ngModel)]="edit.number" placeholder="{{customer.number}}">
<label>Email</label>
<input [(ngModel)]="edit.email" placeholder="{{customer.email}}">
<label>Address</label>
<input [(ngModel)]="edit.address" placeholder="{{customer.address}}">


<br>
<input *ngIf='editValidationMessage' [(ngModel)]="editValidationMessage" disabled>
<br>


<button (click)="updateCustomer()">Save Profile</button>
