<div class="container">


<h1>Setup Details</h1>
<div class="form-group">

<label>Name</label>
<input class="form-contol" [(ngModel)]="edit.name" placeholder="{{customer.name}}">
<label>Phone Number</label>
<input class="form-contol"  [(ngModel)]="edit.number" placeholder="{{customer.number}}">
<label>Email</label>
<input class="form-contol"  [(ngModel)]="edit.email" placeholder="{{customer.email}}">
<label>Address</label>
<input class="form-contol"  [(ngModel)]="edit.address" placeholder="{{customer.address}}">


<br>
<input *ngIf='editValidationMessage' [(ngModel)]="editValidationMessage" disabled>
<br>


<button (click)="updateCustomer()">Save Profile</button>
</div>

</div>
