<div class="container">
  <h3>Order Requests</h3>
  <div *ngFor="let summary of summaries" class="well">
    <div class="row">
      <div class="col-xs-6">
        <div class="pickup">
          <h5>pick up: </h5>
          <h4><strong>{{summary.foodCart.name}}</strong></h4>
            <p>address: <br> {{summary.foodCart.address}}</p><br>
            <p>pickup time: <br> {{summary.order.orderReadyTime}}</p><br>
          <button class="btn btn-danger">Deny Request</button>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="delivery">
            <h5>delivery:</h5>
            <h4><strong>{{summary.customer.name}}</strong></h4>
              <p>address:<br> {{summary.customer.address}}</p>
              <p>delivery time:<br> {{summary.order.requestedDeliveryTime | date:'shortTime'}}</p>
              <p>price: ${{summary.revenue}}</p>
          <button class="btn btn-success">Accept Request</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delivery-navbar></app-delivery-navbar>
