<!-- component for editing details about a cart such as location, phone, website, etc. -->
<h1>Edit Your Profile</h1>

<label>Name</label>
<input [(ngModel)]="edit.name" placeholder="{{foodCart?.name}}">
<label>Phone Number</label>
<input [(ngModel)]="edit.number" placeholder="{{foodCart?.number}}">
<label>Email</label>
<input [(ngModel)]="edit.email" placeholder="{{foodCart?.email}}">
<label>Address</label>
<input [(ngModel)]="edit.address" placeholder="{{foodCart?.address}}">
<label>Maximim Order Size</label>
<input [(ngModel)]="edit.maximumOrderSize" placeholder="{{foodCart?.maximumOrderSize}}">


<br>
<input *ngIf='editValidationMessage' [(ngModel)]="editValidationMessage" disabled>
<br>


<button (click)="updateFoodCart()">Save Profile</button>

<app-edit-menu [foodCartId]="foodCartId"></app-edit-menu>
