<!-- component for editing details about a cart such as location, phone, website, etc. -->
<div class="container">

<h1 class="editProfile">Profile</h1>



<br>
<input *ngIf='editValidationMessage' [(ngModel)]="editValidationMessage" disabled>
<br>




<app-edit-menu [foodCartId]="foodCartId"></app-edit-menu>
</div>
<div class="container">
  <div class="form-group">
  <div class="personlInfo">
    <div class="row">
<div class="col-md-12">

<h3> Personal info </h3>
<!-- <label>Name</label> -->
<input class="form-control" [(ngModel)]="edit.name" placeholder="{{foodCart?.name}}"><br>
<!-- <label>Phone Number</label> -->
<input class="form-control" [(ngModel)]="edit.number" placeholder="{{foodCart?.number}}"><br>
<!-- <label>Email</label> -->
<input class="form-control" [(ngModel)]="edit.email" placeholder="{{foodCart?.email}}"><br>
<!-- <label>Address</label> -->
<textarea rows="4" cols="50" class="form-control" [(ngModel)]="edit.address" placeholder="{{foodCart?.address}}"></textarea><br>
<!-- <label>Maximim Order Size</label> -->
<input class="form-control" [(ngModel)]="edit.maximumOrderSize" placeholder="{{foodCart?.maximumOrderSize}}"><br>

<button class="btn btn-info btn-sm"(click)="updateFoodCart()">save</button>
<div *ngIf='saved'>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>
        changes saved!
      </h3>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

</div>
