.signup {
  margin-left: 1px;
}

button {
  margin-top: 10px;
}
input {
  margin-right: 10%;
  margin-top: 8px;
}
 .allforms {
   margin-left: 30%;
   margin-top: 5%;
 }

select {
  /*margin-top: */
  margin-left: 50%;
}
