.signup {
  margin-left: 1px;
}

button {
  margin-top: 10px;
}
input {
  margin-right: 10%;
  margin-top: 8px;
}
 .allforms {
   margin-left: 30%;
   margin-top: 8%;
 }

select {
  /*margin-top: */
  margin-left: 50%;
}

.warningwell {
  background-color: #ffb2ae;
  margin-right: 29%;
  margin-top: 5%;
  margin-left: 25%;
  box-shadow: 1px 1px 2px #888888;

}

h4 {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 17px;

}

.well {
  box-shadow: 1px 1px 2px #888888;

}

.findAccountLink {
  margin-left: 60%;
  color: lightblue;
}


.mdl-selectfield {
  margin-right: 10%;
  padding-top: -100px;
}

.testers {
}
