<h1>Orders to Deliver</h1>
<div class="container">
  <div *ngFor="let summary of summaries">
    <div *ngIf="!summary.order.deliveryTimestamp" class="well">

      <div class="row">
        <div class="col-xs-6">
          <div class="pickup">
            <h5>pick up:</h5>
            <h4><strong>{{summary.foodCart.name}}</strong></h4>
            <ul>
              <li>address:<br> {{summary.foodCart.address}}</li>
              <li>time: {{summary.order.orderReadyTime |date:'shortTime'}}</li>
              <li>date: {{summary.order.orderReadyTime|date:'shortDate'}}</li>
            </ul>
            <button class="btn btn-success" (click)=
            "updatePickUpTime(summary.order)">Picked Up!</button>
            <p>Pickup Time Stamp: {{summary.order.pickupTimestamp}}</p>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="delivery">
            <h5>delivery:</h5>
            <h4><strong>{{summary.customer.name}}</strong></h4>
            <ul>
              <li>address:<br> {{summary.customer.address}}</li>
              <li>time: {{summary.order.requestedDeliveryTime | date:'shortTime'}}</li>
              <li>date: {{summary.order.requestedDeliveryTime|date:'shortDate'}}</li>
              <li>price: ${{summary.revenue}}</li>
            </ul>

            <button (click)="updateDeliveryTime(summary.order)" class="btn btn-success">Delivered!</button>
            <p>
              Delivery Time Stamp: {{summary.order.deliveryTimestamp}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>Delivered Orders</h1>
<div class="container">
  <div *ngFor="let summary of summaries">
    <div *ngIf="summary.order.deliveryTimestamp" class="well">

      <div class="row">
        <div class="col-xs-6">
          <div class="pickup">
            <h5>pick up:</h5>
            <h4><strong>{{summary.foodCart.name}}</strong></h4>
            <ul>
              <li>address:<br> {{summary.foodCart.address}}</li>
              <li>time: {{summary.order.orderReadyTime | date:'shortTime'}}</li>
              <li>date: {{summary.order.orderReadyTime|date:'shortDate'}}</li>
              <li>Pickup Time Stamp: {{summary.order.pickupTimestamp}}</li>
            </ul>

          </div>
        </div>
        <div class="col-xs-6">
          <div class="delivery">
            <h5>delivery:</h5>
            <h4><strong>{{summary.customer.name}}</strong></h4>
            <ul>
              <li>address:<br> {{summary.customer.address}}</li>
              <li>time:<br> {{summary.order.requestedDeliveryTime | date:'shortTime'}}</li>
              <li>date: {{summary.order.requestedDeliveryTime|date:'shortDate'}}</li>
              <li>price: ${{summary.revenue}}</li>
              <li>Delivery Time Stamp: {{summary.order.deliveryTimestamp}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
