<h3>Delivery Plan</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15906.722463623164!2d-122.59630330981648!3d45.51526765569809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDMxJzA0LjEiTiAxMjLCsDM3JzA3LjciVw!5e0!3m2!1sen!2sus!4v1491942584916" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

<div class="row">
  <div class="col-xs-4">
    <a href="https://www.google.com/maps/dir/45.444683,-122.677194/45.520425,-122.676819/45.517801,-122.618808/">get directions</a>
  </div>
  <div class="col-xs-8">
    <ol>
      <li>Pickup La Joharita 11:00am</li>
      <li>Delivery New Relic 11:30am</li>
      <li>Delivery Epicodus 11:40am</li>
    </ol>
  </div>
</div>
<app-delivery-navbar></app-delivery-navbar>
