<div class="container">

<div class="row">
  <div class="col-md-12  ">
    <div class="well">
      <select (change)="setCart($event.target.value)">
      <option value="">Choose Cart</option>
      <option *ngFor="let cart of foodCarts | async" value={{cart.$key}}>{{cart.name}}</option>
      </select>
      <table class="table" >
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Notes</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of selectedMenuItems">
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>${{item.price}}</td>
            <td>
              <select (change)="setMenuItemQuantity(item, $event.target.value)">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
            </td>
            <td><input (change)="setMenuItemNotes(item, $event.target.value)"></td>
          </tr>
        </tbody>
      </table>

      <label>Delivery Address:</label>
      <br>
      <textarea value="{{customer?.address}}" readonly rows= 4></textarea>
      <br>
      <label for="requestedDeliveryTime">Delivery Date and Time</label>
      <input  type="datetime-local" [(ngModel)]="order.requestedDeliveryTime">
      <br>
      <hr>
      <input *ngIf='editValidationMessage' [(ngModel)]="editValidationMessage" disabled>
      <br>
      <button (click)="placeOrder()" class="btn btn-info">Place Order</button>






    </div>
    <div *ngIf="(summaries | orderComplete:'incomplete').length === 0">
      <h1>No Pending Orders</h1>
    </div>
    <div *ngIf="(summaries | orderComplete:'incomplete').length != 0">
      <h1>Current Orders</h1>
      <div *ngFor="let summary of summaries | orderComplete:'incomplete'" class="well">
        <h1>Requested Delivery Time: {{summary.order.requestedDeliveryTime}}</h1>
        <h2>Order Details</h2>
        <div *ngFor="let detail of summary.details" class="row">
          <h1>{{detail.orderDetail.quantity}} {{detail.menuItem.name}}</h1>
          <h2>Notes: {{detail.orderDetail.notes}}</h2>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <br>
    <h2>Order History</h2>
    <div *ngFor="let summary of summaries | orderComplete:'complete'" class="well">
      <h3 *ngFor="let detail of summary.details">{{detail.orderDetail.quantity}} {{detail.menuItem.name}}</h3>
      <h3>were delivered on {{summary.order.deliveryTimestamp}}</h3>
    </div>

    <!-- <p>
      history
    </p>
  </div>
  <div class="col-md-4">
    <div *ngFor="let cart of foodCarts | async" class="well">
      <h1>{{cart.name}}</h1>
      <button class="btn btn-info">Details</button>
      <button class="btn btn-info">Order From</button>
    </div>
  </div>
</div> -->
</div>
</div>
