<!-- main portal for food cart operators -->
<!-- found by navigating to www.foodcartcatering.com/carts/name -->

<!-- navbar component with logo, dashboard, edit account, logout -->
<div class="container">

<div *ngFor="let summary of summaries | orderComplete" class="well">
  <div class="row">
    <div class="col-md-3">

      <h3>{{summary.order.orderReadyTime}}</h3>
      <div class="acceptButton" >
      <a class="buttons" href="#" class="btn btn-block btn-lg btn-success">accept</a>
    </div>

    </div>
    <div class="col-md-9">
      <div *ngFor="let detail of summary.details" class="row">
        <h1>{{detail.orderDetail.quantity}} {{detail.menuItem.name}}</h1>
        <h3>Notes:</h3> <h4>{{detail.orderDetail.notes}}</h4>
        <hr>

      </div>
      <button (click)="orderCompleted(summary.order)" class="btn btn-success readyButton">ready</button>
    </div>
  </div>

</div>
</div>
