<!-- main portal for food cart operators -->
<!-- found by navigating to www.foodcartcatering.com/carts/name -->

<!-- navbar component with logo, dashboard, edit account, logout -->

<div *ngFor="let summary of summaries" class="well">
  <div class="row">
    <div class="col-md-3">
      <h1>{{summary.order.orderReadyTime}}</h1>
    </div>
    <button (click)="orderCompleted(summary.order)"class="btn btn-success">Ready</button>
    <div class="col-md-9">
      <div *ngFor="let detail of summary.details" class="row">
        <h1>{{detail.orderDetail.quantity}} {{detail.menuItem.name}}</h1>
        <h2>Notes: {{detail.orderDetail.notes}}</h2>
      </div>
    </div>
  </div>

</div>
